* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    overflow-x: hidden;
    font-family: "Sans-serif", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;  
    background-color: #dddddd;
}

.container {
    width: 80%;
    margin: 0 auto;
    transition: 1s;
}

header {
    position: static;
    background-color: #ff8800;
    color: #ffffff;
    padding: 10px 0;
    transition: 1s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 130px;
    margin-right: 10px;
}

.logo2{
    position: relative;
    width:32%;
    left: 32%;
}
span{
    color: #000000;
}

.nav__link{
    transition: 1s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.swiper-container {
    display: flex;
    background-position: fixed;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    transition: 1s;
}


.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.slide-caption {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    transition: 1s;
}

.swiper-pagination {
    position: relative;
} 

.slide2{
    display: none;
}


.principal{
    color: #ff8800;
    text-align: center;
}

a {
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #1a1a1a; /* Ou a cor desejada */
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    transition: 1s;
}

.featured, .news, .more-news {
    flex: 1;
    margin: 0 10px 20px 0;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: #ffffff;
}

.featured img, .news img, .more-news img {
    max-width: 100%;
    height: auto;
}

.text {
    padding: 15px;
}
.perfil-foto-wrap {
    display: flex;
    justify-content: space-between;
}
.perfil-foto img {
    display: flex;
    margin-left: 435px;
    width: 126px;
    height: 126px;
    margin-top: 0px;
    padding: 20px;
    border: 4px solid var(--fundo-card);
    border-radius: 50%;
}

.perfil-notificacao {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 0.25s ease;
    cursor: pointer;
}

.sidebar {
    width: 30%;
    background-color: #ffffff;
    padding: 15px;
    transition: 1s;
}

.p{
    text-align: left;
}
.sobre{
    color: #ff8800;
    text-align: center;
}

footer {
    background-color: #ff8800;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos adicionais para a parte adicional de notícias */
.more-news h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.more-news p {
    font-size: 1em;
    color: #555;
}

/* Adicione regras de mídia para responsividade geral */
@media only screen and (max-width: 768px) {
    .boby{
        position: static;
    }
    .container {
    width: 90%;
    transition: 1s;
    }

    header {
    padding: 10px;
    transition: 1s;
    }

    h1{
    font-size: 30px;
    }

    .logo2{
        width:50%;
        left: 32%;
    }
    .swiper-container {
    height: 300px;
    transition: 1s;
    }

    .swiper-slide img {
    height: 100%;
    transition: 1s;
    }


    .perfil-foto img {
        margin-left: 223px;
    }
    
    .sobre-nome{
        font-size: 25px;
    }
    
    .slide-caption {
    top: 70%;
    transition: 1s;
    }

    #main-content {
    flex-direction: column;
    transition: 1s;
    }

    .more-news, .featured, .news {
    margin-right: 0;
    transition: 1s;
    }

    .sidebar {
    width: 100%;
    transition: 1s;
    }
    footer {
        width: 100%;
    }
    
}

@media only screen and (max-width: 508px) {

    body{
        position: static;
    }
    h1{
    font-size: 20px;
    }
    .swiper-container {
    height: 300px;
    transition: 1s;
    }

    .swiper-slide img {
    height: 100%;
    transition: 1s;
    }

    .perfil-foto img {
        margin-left: 113px;
    }
    
    .sobre-nome{
        font-size: 25px;
    }
    
}

  /* Adicione regras de mídia específicas para telas de iPhone */
@media only screen and (max-width: 375px) {
    /* Pode ajustar os estilos conforme necessário para telas de iPhone */

    body{
        position: static;
    }
    .container {
    width: 100%;
    transition: 1s;
    }

    .swiper-container {
    height: 200px;
    transition: 1s;
    }

    .h1{
        font-size: 20px;
    }
    .swiper-slide img {
        height: 100%;
        transition: 1s;
        }

    .slide-caption {
    top: 60%;
    transition: 1s;
    }
    
}